body,html{
    padding:0px;
    margin:0px;
}

.body{
    height:1386px;
    width:980px;
    background-color:#fff;
    margin:0 auto;
    border-style:solid;
}

.l_head{
    width:110px;
    height:61px;
    background-color: #cc6666;
    margin-left:43px;
}

.body hr{
    width:892px;
    height:2px;
    margin:0px;
    background-color: #938e8c;
    margin:0 auto;
}